@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}
/* Header */
.header{
    padding: 2% 0 0 8%;
}

.header_navegador{
    display:flex;
    flex-flow: row wrap;
    gap: 80px;
}

.header_navegador_link{
    color: #22D4FD;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid #000000;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Montserrat';
    transition: 0.8s;
}

.header_navegador_link:hover{
    color: white;
    border: 2px solid #22D4FD;
}

/* Main */
.container{
    padding: 5% 8%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.container_section_left{
    display: flex;
    flex-flow: column wrap;
}
.left_image{
    width: 60%;
    border: 2px solid #22D4FD;
    border-radius: 50%;
}

.container_section_titulo{
    font-size: 2.25rem;
    font-family: 'Krona One';
    color:#22D4FD;
}

.container_section_paragrafo{
    font-size: 1rem;
    font-family: 'Montserrat';
    text-align: justify;
    padding: 10px;
}

.section_subtitulo{
    font-family:'Krona One';
    font-weight: 400;
    font-size: 1.5rem;
    padding: 10px;
    color:#22D4FD;
}

.section_h3{
    font-family:'Krona One';
    font-weight: 400;
    font-size: 1.25rem;
    padding: 10px;
}

.section_h5{
    font-family:'Krona One';
    font-weight: 400;
    font-size: 1.12rem;
    padding: 10px;
}

.listas{
    list-style-type: none;
    list-style-position: inside;
    padding-left: 10px;
    font-size: 1rem;
    font-family: 'Montserrat';
}

/* Footer */

.footer{
    background-color: #22D4FD;
    color: black;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}


strong{
    color:#22D4FD;
}

@media (max-width: 1200px){
    .header{
        padding: 2% 2% 0 2%;
    }

    .header_navegador{
        gap: 15px;
        justify-content: center;
    }
    .container{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .left_image{
        align-self: center;
    }
    .section_right{
        display: flex;
        flex-flow: column wrap;
    }
}